In [1]:
# Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then evaluate the following expression in the Python console.
# ùê¥ = ùëù (1 + ùëü/ 100)n

n = 10
r = 5
p = 100
ùê¥ = ùëù*(1 + ùëü/ 100)**n
print(A)

162.8894626777442

In [2]:
# In a given string format operation, how will you print the given string. A = 10, B = 20
# Str = "There are {} students in the class, with {} who play at least one sport."

A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(A,B))

There are 10 students in the class, with 20 who play at least one sport.

In [3]:
#. In a given sample string, How do you print a double quoted string in between a regular string using the escape character?
# Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.

Strng = "It goes without saying, \"Time is Money\", and none can deny it"
print(Strng)

It goes without saying, "Time is Money", and none can deny it

In [4]:
# What will be the output of the following code? x = lambda a,b: a//b
# x(10,3)

x = lambda a,b: a//b
x(10,3)

3

In [5]:
# What will be the output of the following code? A = 10, B = 12
# print("Smaller") if A == B else print("Greater") if A < B else print("True")

A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

In [8]:
# What will be the output of the following code?
# my_list1 = [2,7,3,5,4,6]
# Print(my_list1)
# arr_1 = numpy.array(my_list1, dtype = int)
# Print(arr_1)

import os
import numpy as np

In [9]:
my_list1 = [2,7,3,5,4,6]
print(my_list1)

[2, 7, 3, 5, 4, 6]

In [11]:
arr_1 = numpy.array(my_list1, dtype = int)

NameError: name 'numpy' is not defined

In [12]:
print(arr_1)

NameError: name 'arr_1' is not defined

In [14]:
# Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s) is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
# a. string[slice(13,8,1)], b. string[slice(1,8,1)], c. string[8:14], d. string[slice(8,13,1)]

string = "Machine Learning"
string[slice(8,13,1)]

'Learn'

In [15]:
# Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?
A = list(range(10,25,4))
Indexof18 = A. index(18)
print(Indexof18)

2

In [16]:
# Q9. Which of the following is true with respect to the below codes?
# num1 = 5**4, num2 = pow(5,4), print(num1,num2
num1 = 5**4
num2 = pow(5,4)
print(num1,num2)

625 625

In [17]:
# What type of exception will be raised for the code given below?
x = "string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

In [18]:
# Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively:
# Country India China Japan Qatar France
# State Delhi Beijing Tokyo Doha Marseilles
# Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:
Country = {'India':'Delhi','China':'Beijing','Japan':'Tokyo','Qatar':'Doha','France':'Marseilles'}
Country['France'] = 'Paris'
Country_update = {'France':'Paris'}
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [19]:
# Create the tuples given below, tuple_1 = (1,5,6,7,8), tuple_2 = (8,9,4), Identify which of the following code does not work on a tuple.
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

In [20]:
sum(tuple_1)

27

In [21]:
len(tuple_2)

3

In [22]:
tuple_2 + tuple_1

(8, 9, 4, 1, 5, 6, 7, 8)

In [23]:
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

In [24]:
#  How many elements in the following data structure? S = {1,2,3,4,4,4,5,6}
S = {1,2,3,4,4,4,5,6}
count = len(S)
print(count)

6

In [25]:
# Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number Nimport math
def pythagorean_triplets(n):
    for a in range(1, n+1):
        for b in range(a, n+1):
            c = math.sqrt(a*a + b*b)
            if c.is_integer() and c <= n:
                print(f"{a}, {b}, {int(c)}")

In [26]:
pythagorean_triplets(5)

3, 4, 5